<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406079571092-rh8elbkh26e2448lftearp7i2kdroot3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406079571092-rh8elbkh26e2448lftearp7i2kdroot3</string>
	<key>API_KEY</key>
	<string>AIzaSyDrI5dBCuJ6hd7lD615VVgej2DmyaPJMPA</string>
	<key>GCM_SENDER_ID</key>
	<string>406079571092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.icheck</string>
	<key>PROJECT_ID</key>
	<string>icheck-9b12d</string>
	<key>STORAGE_BUCKET</key>
	<string>icheck-9b12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406079571092:ios:cee9f90f6fff9c257be081</string>
</dict>
</plist>